.landing-page-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.landing-page-top-container {
  width: 100%;
  height: 794px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1484627147104-f5197bcd6651?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1500');
  background-position: 0% 40%;
}
.landing-page-hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 1000px;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.landing-page-text {
  width: 649px;
  height: 91px;
  font-size: 3rem;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.landing-page-content-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text01 {
  padding-top: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.landing-page-main {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-quadruple);
  justify-content: flex-start;
}
.landing-page-cards-container {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-container01 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.landing-page-container02 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.landing-page-text15 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.landing-page-text16 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.landing-page-container03 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-image1 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.landing-page-container04 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.landing-page-text17 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.landing-page-text18 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.landing-page-text20 {
  font-size: 12px;
}
.landing-page-container05 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-image2 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.landing-page-container06 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.landing-page-text21 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.landing-page-text22 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.landing-page-container07 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-image3 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.landing-page-container08 {
  width: 100%;
  height: 227px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.landing-page-text23 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.landing-page-text24 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.landing-page-container09 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-image4 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.landing-page-container10 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.landing-page-text27 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.landing-page-text31 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.landing-page-container11 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-image5 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.landing-page-container12 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.landing-page-text32 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.landing-page-text33 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.landing-page-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.landing-page-menu {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-container13 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.landing-page-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link01 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link02 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link03 {
  text-decoration: none;
}
.landing-page-container14 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.landing-page-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link07 {
  text-decoration: none;
}
.landing-page-follow-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text34 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.landing-page-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-link08 {
  display: contents;
}
.landing-page-icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.landing-page-link09 {
  display: contents;
}
.landing-page-icon2 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.landing-page-link10 {
  display: contents;
}
.landing-page-icon4 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .landing-page-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .landing-page-cards-container {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .landing-page-hero {
    justify-content: center;
  }
  .landing-page-content-container {
    align-items: center;
  }
  .landing-page-text01 {
    text-align: center;
  }
  .landing-page-main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-container01 {
    width: 200px;
  }
  .landing-page-container03 {
    width: 200px;
  }
  .landing-page-container05 {
    width: 200px;
  }
  .landing-page-container07 {
    width: 200px;
  }
  .landing-page-container09 {
    width: 200px;
  }
  .landing-page-container11 {
    width: 200px;
  }
  .landing-page-menu {
    flex-direction: column;
  }
  .landing-page-links-container {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .landing-page-container13 {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .landing-page-container01 {
    width: 300px;
  }
  .landing-page-container03 {
    width: 300px;
  }
  .landing-page-container05 {
    width: 300px;
  }
  .landing-page-container07 {
    width: 300px;
  }
  .landing-page-container09 {
    width: 300px;
  }
  .landing-page-container11 {
    width: 300px;
  }
  .landing-page-links-container {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .landing-page-link {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-link01 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-link02 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-link03 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-container14 {
    height: 100%;
    align-items: flex-start;
    margin-left: 50px;
  }
  .landing-page-link04 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-link05 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-link06 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-link07 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-follow-container {
    margin-left: 0px;
  }
}
