*{
    margin: 0;
    padding: 0;
}
.recommendations-container{
    position: relative;

}
.part1sad{
    position: absolute;
    top: 150px;
    width: 90%;
}
.iimgsad img{
    opacity: 10%;
    position: relative;
    
}
.textbsad{
    position: absolute;
    background-image: url(./../assests/Background02.jpg);
    background-size: cover;

   
    padding: 50px;
    text-align: center;
    width: 100%;

}
/* #suggestionlist{
    padding: 55px;
    margin-top: 40px;
} */
.part2sad{
    width: 100%;
   
    position: absolute;
    top: 550px;

    
    
}
.heading1sad{
    text-align: center;
    font-weight: bolder;
}
.reccoss{
    display: grid;
    grid-template-columns: auto auto auto;
}
.box2s{
    height: 200px;
   
    padding: 25px;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    padding-top: 50px;
    background-image: url(./../assests/gradientbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
   border-radius: 2%;
}
.songlink{
    display: inline-block;
        margin-top: 72px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 13px 30px 12px;
        border-radius: 4px;
        background-color: rgb(105, 185, 255);
        transition-property: background-color;
        transition-duration: 300ms;
        transition-timing-function: ease;
        color: white;
        font-size: 16px;
        line-height: 21px;
        font-weight: 300;
        text-align: center;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
}
.part3sad{
    width: 100%;
    position: absolute;
    top: 900px
}
.box1s{
    height: 200px;
   
    padding: 25px;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    padding-top: 50px;
    background-image: url(./../assests/gradientbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2%;
}

.movielink{
    display: inline-block;
        margin-top: 72px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 13px 30px 12px;
        border-radius: 4px;
        background-color: rgb(105, 185, 255);
        transition-property: background-color;
        transition-duration: 300ms;
        transition-timing-function: ease;
        color: white;
        font-size: 16px;
        line-height: 21px;
        font-weight: 300;
        text-align: center;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
}
.spacer {
    height: 80px;
    margin: 0 0 -80px 0;
   
    background: transparent; 
}
