.dot-spinner{
    display: inherit;
    position: relative;
    width: 140px;
    height: 140px;
    position: absolute;
    left: 30%;
    padding: 20px;
    /* animation: 2s linear 0s infinite normal none running react-spinners-DotLoader-rotate; */
}